* { font-family: Times New Roman, Verdana, sans-serif;
  color: #4949;
  text-align: center;
}

#nav,

#feature,

.article,

#footer {
  background-color: #1111;
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
}

#feature,

.article {
  height: 80px;
}

li {
  display: inline;
  padding: 8px;
}